packages/.cache
packages/lib
packages/v0.5
packages/v0.6/*

# packages managed as submodules
!packages/v0.6/FluxExtensions
!packages/v0.6/LCPSim
!packages/v0.6/LearningMPC
!packages/v0.6/QPControl

!packages/v0.6/REQUIRE
*-checkpoint.ipynb
**/*-checkpoint.ipynb
.ipynb_checkpoints
