[submodule "submodules/LCPSim"]
	path = packages/v0.6/LCPSim
	url = git@github.com:rdeits/LCPSim.jl
[submodule "submodules/LearningMPC"]
	path = packages/v0.6/LearningMPC
	url = git@github.com:rdeits/LearningMPC.jl
[submodule "submodules/FluxExtensions"]
	path = packages/v0.6/FluxExtensions
	url = git@github.com:rdeits/FluxExtensions.jl
[submodule "packages/v0.6/OSQP"]
	path = packages/v0.6/OSQP
	url = git@github.com:oxfordcontrol/OSQP.jl
[submodule "packages/v0.6/SimpleQP"]
	path = packages/v0.6/SimpleQP
	url = git@github.com:tkoolen/SimpleQP.jl
[submodule "packages/v0.6/MeshCat"]
	path = packages/v0.6/MeshCat
	url = https://github.com/rdeits/MeshCat.jl
[submodule "packages/v0.6/MeshCatMechanisms"]
	path = packages/v0.6/MeshCatMechanisms
	url = https://github.com/JuliaRobotics/MeshCatMechanisms.jl
[submodule "packages/v0.6/RigidBodyDynamics"]
	path = packages/v0.6/RigidBodyDynamics
	url = https://github.com/JuliaRobotics/RigidBodyDynamics.jl
[submodule "packages/v0.6/QPControl"]
	path = packages/v0.6/QPControl
	url = git@github.com:tkoolen/QPControl.jl
[submodule "packages/v0.6/IKMimic"]
	path = packages/v0.6/IKMimic
	url = https://github.com/rdeits/IKMimic.jl
